<ion-view view-title="Categoria">

  <ion-nav-buttons side="secondary">
    <button class="button-icon icon ion-ios-plus-empty light"
            type="button"
            ng-click=""></button>

  </ion-nav-buttons>

  <ion-content>
    <ion-list show-delete="shouldShowDelete">
      <!--{{selectedCategory.name}}-->
      <ion-item ng-repeat="category in categories"
                ng-click="select(category.name)">

        <h2 class="color-mfblue">{{category.name}}</h2>
        <ion-option-button class="button-assertive"
                           style="background-color:#ef473a"
                           ng-click="share(item)">
          Apagar
        </ion-option-button>

        <ion-delete-button class="ion-minus-circled"
                           ng-click="items.splice($index, 1)">
        </ion-delete-button>

      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
