<ion-view view-title="Nova Farmácia">

  <ion-content>
    <!--Form with floating labels-->
    <form name="updatePharmacyForm"
          novalidate=""
          class="create-form"
          id="updatePharmacyForm">
      <ion-list >

      <button style="height:100px; width:49%; background-color: red" class="button button-assertive" ng-click="cancelUpdate()">
         <img src="img/cancel.png" align="left" height="30"/><font size="5">Cancelar</font>
        </button>

        <button style="height:100px; width:49%;" class="button button-balanced" ng-click="alterPharmacy(updatePharmacyForm)">
          <img src="img/plus.png" align="left" height="45"/><font size=6>Alterar</font>
        </button>
        <!-- medicament Name -->
        <label class="item item-input item-stacked-label"
               ng-class="{'has-error':updatePharmacyForm.name.$invalid}" >
          <span class="input-label" >Nome</span >
          <input type="text"
                 placeholder="Nome da Farmácia"
                 name="name"
                 ng-model="pharmacy.name"
                 ng-required="true"
                 ng-minlength="2"
                 value="{{formData.name}}">
        </label >
        <div class="form-errors"
                 ng-messages="updatePharmacyForm.name.$error">
              <div ng-messages-include="templates/form-errors.html"> </div>
              <div class="form-error"
                   ng-message="minlength" >Por favor, insira um nome válido.
              </div >
            </div>
            <br>
        <label class="item item-input item-stacked-label">
          <span class="input-label" >Telefone</span >
          <input type="tel"
                 placeholder="Telefone da Farmácia"
                 name="phone"
                 ng-model="pharmacy.phone"
                 ng-required="false"
                 ng-minlength="8"
                 mask="(99) 9?9999-9999"
                 ng-model="number">
        </label>
      </ion-list>
    </form>

  </ion-content>
</ion-view>